<div id="search-stats">
    @if (ViewBag.Result != null && ViewBag.IsSearch)
    {
        if (ViewBag.Result.Results.Length > 0)
        {
            <p>@ViewBag.Result.Results.Length résultats (@ViewBag.Result.TimeCompute secondes)</p>
        }
        else if (ViewBag.Result.Results.Length == 1)
        {
            <p>1 résultat (@ViewBag.Result.TimeCompute secondes)</p>
        }
        else
        {
            <p>Aucun résultat (@ViewBag.Result.TimeCompute secondes)</p>
        }
    }
</div>

<div id="result-stats">
    @if (ViewBag.Result != null && ViewBag.IsSearch)
    {
        <b>Recherche : </b>@ViewBag.Result.Request<br />
        <b>Rappel : </b>@ViewBag.Result.Rappel<br />
        <b>Precision : </b>@ViewBag.Result.Precision<br />
    } 
    else if (ViewBag.Result == null) 
    {
        <b style="color: red">@ViewBag.Error : </b><br />
        <div class="highlighted-content"><a href="@ViewBag.SearchServer" target="_blank">@ViewBag.SearchServer</a></div>
    } 
    else 
    {
        <b>Saisissez votre recherche ci-dessus</b>
    }
</div>

<div class="result-list">
    @if (ViewBag.Result != null)
    {
        foreach (Randopedia.JSONObjects.ResultLine result in ViewBag.Result.Results)
        {
            <div class="result-item">
                @if (ViewBag.DetailedSearch) 
                {
                    <p>
                        <span class="result-item-file-path">@result.pathFile.Replace("../","")</span>
                        <span class="result-item-xpath">@result.Xpath</span>
                        <span class="result-item-weight">@result.weight.ToString("F2")</span>
                    </p>
                }
                <p>@result.Content</p>
            </div>
        }
    }
</div>

